.mini-card {
  display: flex;
  flex-direction: column;
  background-color: #F59F4B;
  margin-left: 5px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 17px;
  color: #1b1b1b;
  box-shadow: 0 0 3px 0 black;

  .top-data {
    display: flex;

    .name {
      width: 100%;
      font-weight: bold;
    }
    .date {
      width: 20%;
      text-align: right;
    }
  }
  .add {
    display: flex;
    .comment-text {
      width: 100%;
      margin-top: 10px;
      border-top: 1px solid #474747;
    }
  }
}

.status-red{
  background: #ff4b5c;
}
.status-yellow{
  background: #ffd200;
}
.status-blue{
  background: #36a1ff;
}
.status-green{
  background: #55ff7c;
}

