// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "variables";

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.wrap {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .top {
    background: #057D9F;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px black;
    justify-content: space-between;

    img{
      height: 40px;
    }
    .user{
      color: #fff;
    }
  }

  .content {
    display: flex;
    margin-top: 15px;

    .left {
      width: 300px;
      display: flex;
      flex-direction: column;

      .menu-item {
        background: #057d9f;
        color: #fff;
        padding: 10px;
        margin-bottom: 5px;
        box-sizing: border-box;
        font-style: 16px;
        box-shadow: 0 0 3px 0 black;
      }
      .router-link-active{
        box-shadow: 0 0 0 0 black;
        box-shadow: 0 0 5px 0 black inset;
        background: #0083aa;
        border-radius: 4px;
      }
    }
    .right {
      width: 100%;

      .main{
        @import "cards";
      }
    }
  }

}